<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlantSaver"
        tools:targetApi="31">
        <activity
            android:name=".NewAddPlants"
            android:exported="false"
            android:label="@string/title_activity_new_add_plants"
            android:theme="@style/Theme.PlantSaver" />
        <activity
            android:name=".CreatePlantFam"
            android:exported="false"
            android:label="@string/title_activity_create_plant_fam"
            android:theme="@style/Theme.PlantSaver" />
        <activity
            android:name=".fulldataplant"
            android:exported="false"
            android:label="@string/title_activity_fulldataplant"
            android:theme="@style/Theme.PlantSaver" />
        <activity
            android:name=".MyPlantssaved"
            android:exported="false"
            android:label="@string/title_activity_my_plantssaved"
            android:theme="@style/Theme.PlantSaver" />
        <activity
            android:name=".CreatePlantFamily"
            android:exported="false"
            android:label="@string/title_activity_create_plant_family"
            android:theme="@style/Theme.PlantSaver" />
        <activity
            android:name=".addPlantsnew"
            android:exported="false"
            android:label="@string/title_activity_add_plantsnew"
            android:theme="@style/Theme.PlantSaver" />
        <activity
            android:name=".PlantFam"
            android:exported="false"
            android:label="@string/title_activity_plant_fam"
            android:theme="@style/Theme.PlantSaver" />
        <activity
            android:name=".example"
            android:exported="false"
            android:label="@string/title_activity_example"
            android:theme="@style/Theme.PlantSaver" />
        <activity
            android:name=".PlantFamily"
            android:exported="true"
            android:label="@string/title_activity_plant_family"
            android:theme="@style/Theme.PlantSaver" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.PlantSaver" />
        <activity
            android:name=".test"
            android:exported="false"
            android:label="@string/title_activity_test"
            android:theme="@style/Theme.PlantSaver" />
        <activity
            android:name=".AddPlants"
            android:exported="false"
            android:label="@string/title_activity_add_plants"
            android:theme="@style/Theme.PlantSaver" />
        <activity
            android:name=".MyPlants"
            android:exported="false"
            android:label="@string/title_activity_my_plants"
            android:theme="@style/Theme.PlantSaver" />
        <activity
            android:name=".homescreen"
            android:exported="false"
            android:label="@string/title_activity_homescreen"
            android:theme="@style/Theme.PlantSaver" />
        <activity
            android:name=".opener"
            android:exported="false"
            android:label="@string/title_activity_opener"
            android:theme="@style/Theme.PlantSaver" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.PlantSaver">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>